<!DOCTYPE html>
<!--suppress ALL-->
<html xmlns:th="http://www.thymeleaf.org">
<link>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
      content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
<title>登录</title>
<script th:src="@{/jquery-3.3.1.js}"></script>
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/a3common.css}" rel="stylesheet"><
<link rel="stylesheet" th:href="@{/css/login.css}">
<link rel="stylesheet" th:href="@{/css/font.css}">
</head>
<body>
<div id="main" class="main-warp">
    <div class="main-content">
        <div class="formDiv">
            <h2 class="text-center">登录</h2>
            <form id="loginForm">
                <div class="dataform">
                    <div class="input-warp gap">
                        <span class="input-icon iconfont icon-yonghu1"></span>
                        <input id="login_adminId" name="username" type="text" class="inputs" placeholder="手机号码或邮箱"
                               maxlength="64">
                    </div>
                    <div class="error-content">
                        <span id="userNameErr" class="errMsg"></span>
                    </div>

                    <div class="input-warp gap">
                        <span class="input-icon iconfont icon-baomi"></span>
                        <input id="adminPw" class="inputs" type="password" name="password" placeholder="密码"
                               maxlength="20">
                    </div>
                    <div class="error-content">
                        <span id="passwordErr" class="errMsg"></span>
                    </div>

                    <div class="btn-warp gap">
                        <div class="text-center">
                            <input type="hidden" value="jsform" id="_app"/>
                            <button id="btnLogin" class="btn btn-block lgbtn blue" onclick="do_login();return false">
                                登录
                            </button>
                        </div>
                    </div>
                    <div class="gap">

                        <div class="pull-right" style="margin-top: 6px"><a href="javascript:;"
                                                                           class="link">忘记密码</a><span
                                class="split-space">|</span><a
                                href="register.html" class="link">新用户注册</a></div>

                        <div class="pretty-box">
                            <input type="checkbox" value="1" name="REMEMBER" id="remember" class="">
                            <label for="remember" style="font-weight: normal">记住我</label>
                        </div>
                    </div>


                    <div class="biggap third-party-title">
                        <h5 class="text-center"><span>第三方账号登录</span></h5>
                    </div>
                    <div class="third-auth">

                        <a title="用钉钉登录" class="dt" href="javascript:;"></a>
                        <a title="用微信账户登录" class="wx" href="javascript:;"></a>
                        <a title="用QQ账户登录" class="qq" href="javascript:;"></a>

                    </div>

                </div>
            </form>

        </div>
    </div>
</div>
<script>
    function do_login() {
        $.post('/admin/login',{
            "adminId": $("#login_adminId").val(),
            "adminPw": $("#adminPw").val(),
        },function (data,state) {
            if (state=='success'){
                if (data == "OK") {
                    window.location.href = 'http://localhost:8080/index';
                } else{
                    window.location.reload();
                }
            }
        })
    }
</script>
</body>
</html>

